

html{
	/*font-size: 13px;*/
}
.tablaspaquetes {
     display: block;
     max-height: 500px;
     overflow-y: auto;
     -ms-overflow-style: -ms-autohiding-scrollbar;
}



    



.tablasImagenes {
    display: block;
	max-height: 400px;
	overflow-y: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}


body{
	background: white;
	padding-top: 150px;
}

#navbar1{
	background:rgb(255, 255, 255);
}

.main{
	background: #FFF;
	color: black;
}

.color1 {
	background: white;
	color: #fff;
}
aside{
	background: #EC0868;
	color: #fff;
}
footer{
	background: #373F51;
	color: #fff;
}




#foto{
	width: 200px;
	height: 300px;
}

