body{
	background: white;
	padding-top: 123px; 
}

header {
	background: /*#6BBAEC*/#E75A7C;
	color: #E75A7C;
	font-size: 1.6em; 
}

#header1{
	padding-right: 10px;
	padding-top: 50px; 
}


.main{
	background: #FFF;
	color: black;
}

.color1 {
	background: white;
	color: #fff;
}
aside{
	background: #EC0868;
	color: #fff;
}
footer{
	background: #373F51;
	color: #fff;
}


#logo {
	height: 100px;
	width: 225px;
}

#foto{
	width: 200px;
	height: 300px;
}
/*
.navegacion {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}
*/